{{> breadcrumbs}}
<h2>{{car.name}}</h2>
<img src="{{car.image}}" alt="{{car.name}}" />
<p>Description: {{car.description}}</p>
<p>Color: {{car.color}}</p>
<p>Price: {{car.price}}</p>

<style>
	img {
		max-width: 400px;
		max-height: 300px;
	}
</style>